<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com "></script>
    
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <h1 class=" text-blue-500 font-semibold italic text-4xl inline-block align-baseline px-10">TASK MANAGER</h1>
        <div class="form p-10 text-white">
            <form action="/create" method="post">
                <input class="block w-full rounded-lg outline-none px-5 py-2 bg-zinc-800" type="text" placeholder="Enter your title" name="title">
                <textarea class="block w-full rounded-lg outline-none px-5 py-2 mt-2 resize-none bg-zinc-800" placeholder="Write your details here..." name="details"></textarea>
                <input class="mt-3 bg-blue-500 px-5 py-2 rounded-lg" type="submit" value="Create Tasks">
            </form>
        </div>
        <div class="tasks flex gap-8 flex- wrap p-10">
            <% if(files.length > 0){ %>
                <% files.forEach(function(val){ %>
                    <div class="task w-72 px-3 py-4 bg-zinc-800 rounded-lg ">
                        <h1 class ="text-white text-3xl tracking-tighter"><%= val %></h1>
                        <div class="flex w-full justify-between items-center mt-4">
                        <a class="text-blue-500 inline-block" href="/file/<%= val %>">Read More.</a>
                        <a class="text-zinc-600" href="/edit/<%= val %>">Edit Name</a>
                        </div>
                    </div>
                <% }) %>

            <% } else { %>
                <h3 class="text-zinc-600 font-semibold">NO TASKS YET :/</h3>
           <% } %>
        </div>  
    </div>
    <script src="/javascritps/script.js"></script>
    
</body>
</html>